fieldset {
  border: none;
  padding: 0;
}

fieldset > legend {
  font-size: 1.25rem;
}

label[for] {
  display: block;
}

label[for] + input {
  width: 100%;
}

label:not([for]) + label:not([for]) {
  margin-left: 0.5rem;
}

select {
  min-width: 100px;
}

select[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.label-required::after {
  content: ' *';
  color: var(--nc-ac-2);
}

form .meta {
  font-size: 0.8rem;
}

form .validation {
  color: var(--nc-ac-2);
}
