fieldset {
  border: none;
  padding: 0;
}

fieldset > legend {
  font-size: 1.6rem;
}

label {
  display: block;
}

input[type='text'] {
  width: 100%;
}

.label-required::after {
  content: ' *';
  color: #f0506e;
}

form .meta {
  font-size: 0.8rem;
}

form .validation {
  color: #f0506e;
}
