.tabs-list {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  margin-bottom: 1rem;
}

.tabs-list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid var(--nc-bg-2);
}

.tabs-trigger {
  display: inline-block;
  border: none;
  padding: 0.25em 0.5em;
  margin: 0;
  background: none;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  border-radius: 0;
  border-bottom: 2px solid transparent;
  color: var(--nc-tx-1);
  flex: 1 1 auto;
  font-size: 1.25rem;
  text-align: center;
}

.tabs-trigger:hover,
.tabs-trigger:focus {
  background: none;
}

.tabs-trigger:active {
  background: var(--nc-bg-2);
}

.tabs-trigger[data-disabled] {
  opacity: 0.25;
  cursor: default;
}

.tabs-trigger[data-state='active'] {
  border-bottom-color: currentColor;
}
